<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="string_test" value="Hello World! My name is Hari Sridhar!" />
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="WebForm1.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
